// shared styles

.ple_wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.ple_wrapper > div {
  padding: 0.5em;
}

.header_cell {
  border-bottom: 2px solid black;
}

.form-control {
  font-size: 1em;
}

$hl_color: #FFE;

.ple_wrapper > div:nth-child(4n) {
  background: $hl_color;
}

.ple_wrapper > div:nth-child(4n-1) {
  background: $hl_color;
}

header {
  padding-top: 5px; 
  margin-bottom: 2rem;
  border-bottom: 1px solid #eaeaea; 
}

