<div style='text-align: center; padding-bottom: 20px;'>
<a href="/">Home</a> | 
<a href="/bootstrap4">Bootstrap4</a> | 
<a href="/diy">DIY</a> | 
<b>Milligram</b> 
</div>

<table>
  <thead>
    <tr>
      <th>
        type
      </th>
      <th>
        editable
      </th>
      <th>
        output
      </th>
  </thead>
  <tbody>
  <tr>
    <td>
      select
    </td>
    <td>
      select field
    </td>
    <td>
      output
    </td>
  </tr>
  </tbody>
</table>
