<div style='text-align: center; padding-bottom: 1em;'>
  <a href="https://milligram.io">Milligram</a> is a lightweight CSS framework that is the default for new Phoenix apps.
</div>

<div>
  <%= live_render @conn, PleDemoWeb.Live.MilligramDemo %>
</div>
